<div class="header">

    <div class="header-box">
      <h1 class=header-title>Ticker-Tape Stadium</h1>
    </div>

    <div class="nav-box">
      <div class="nav-left">
        <button class="nav-button"{{action "toggleShow"}}> + </button>
          {{#if showNav}}
          <div class="nav-box-show">
            <h2 class="navigate-dashboard">{{#link-to "header.dashboard"}}Dashboard{{/link-to}}</h2>
            <h2 class="navigate-portfolio">{{#link-to "header.portfolio"}}Portfolio{{/link-to}}</h2>
            <h2 class="navigate-top-stocks">{{#link-to "header.top-stocks"}}Top Stocks{{/link-to}}</h2>
            <h2 class="navigate-help">{{#link-to "header.help"}}Help{{/link-to}}</h2>
          </div>
          {{/if}}
      </div>

      <div class="user-id">
        <div class="userbox-title">abarba222
          {{#if showUser}}
            <div class="user-box-content">
              <li class="userbox-username">abarba</li>
              <li class="userbox-capital">$100,000</li>
              <li class="userbox-status">Amateur Investor</li>

            {{#if session.isAuthenticated}}

                <button class="logout-button" {{action 'invalidateSession'}}
              >Log Out</button>

            {{/if}}
          </div>
        {{/if}}
        </div>
      </div>

    </div>

</div>
