<div class="header">

    <div class="header-box">
      <h1 class=header-title>Ticker-Tape Stadium</h1>
    </div>

    <div class="nav-box">
      <div class="nav-left">
        <button class="nav-button"> + </button>
      </div>

      <div class="user-id">
        <a id="userbox" onclick="toggleTable();">abarba222</a>
        <i class="fa fa-check-square user-dropdown"></i>
      </div>
    </div>

</div>
