<form {{action 'authenticate' on='submit'}}>
  <input label="E-mail" type="email" value=identification></input>
  <input label="Password" type="password" value=password></input>
  <button class="login-button">Log In</button>
</form>
