<form {{action 'authenticate' on='submit'}}>
  {{input placeholder="Username" label="username"  value=identification}}
  {{input placeholder="Password" label="Password" type="password" value=password}}
  <button class="login-button">Log In</button>
</form>
