<form {{action 'createUser' on='submit'}}>
  <input label="Name" value=model.name></input>
  <input label="E-mail" type="email" value=model.username></input>
  <input label="Password" type="password" value=model.password></input>
  <button class="new-login-button">Sign Up</button>
</form>
