<form {{action 'createUser' on='submit'}}>
  <input placeholder="Name" label="Name" value={{model.name}}>
  <input placeholder="E-mail" label="E-mail" type="email" value={{model.username}}>
  <input placeholder="Password" label="Password" type="password" value={{model.password}}>
  <button class="new-login-button">Sign Up</button>
</form>
