@import 'bower_components/font-awesome/scss/font-awesome';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import 'bower_components/neat/app/assets/stylesheets/neat';

$light-gray: rgb(200,200,200);
$medium-gray: rgb(175,175,175);

$mobile: new-breakpoint(max-width 768px);
$desktop: new-breakpoint(min-width 902px);

* {
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	background-color:white;
	margin:0px;
}

//Mobile

//Header

.header{
  height:auto;
  margin-top:0px;

	@include media($mobile) {
		min-width: 0;
	  max-width: 768px;
	}

}

.header-box{
	background-color:rgb(34, 34, 34);
  padding-top:10px;
  padding-bottom:10px;
	border-bottom:3px solid rgb(250, 215, 32);

  /* background-image: linear-gradient(
  		to right,
  		rgb(25, 25, 25),
  		rgb(35, 15, 15),
  		rgb(55, 5, 5),
  		rgb(105, 0, 0),
  		rgb(150, 0, 0)
  	); */
}

.header-title{
	text-align:center;
  color:rgb(250, 215, 32);
  font-style:italic;
	font-family:serif;
	margin-top:0px;
	margin-bottom:0px;
}

 .nav-box{
  //background-color:rgba(250, 220, 0, 1);
	padding-top:4px;
  padding-bottom:4px;

	//border-top:3px solid rgb(200, 200, 200);
	background-color:rgb(34, 34, 34);
}

.nav-left{
  margin-left:2%;
  display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
  }

	.nav-box-show{
		background-color:rgb(34, 34, 34);
		border:3px solid white;
		position:absolute;
		margin-top:10px;
		margin-left:0px;
	}

	.navigate-dashboard,
	.navigate-portfolio,
	.navigate-top-stocks{
		border-bottom:1px solid white;
		padding:10px;
		text-align:center;
		margin:0px;
		a{
			color:rgb(235, 235, 235);
			text-decoration:none;
		}
	}

	/* .navigate-portfolio{
		a{
			color:white;
		}
	}

	.navigate-top-stocks{
		a{
			color:white;
		}
	} */

	.navigate-help{
		padding:10px;
		margin:0px;
		text-align:center;
		a{
			color:white;
			text-decoration:none;
		}
	}

.user-id{
	//position:relative;
	float:right;
  display:inline-block;
	padding-right:2%;
	padding-top:5px;
	padding-bottom:5px;
}

.user-picture{
	display:inline-block;
}

.username{
	display:inline-block;
	font-size:20px;
  background:none;
  border:none;
	color:rgb(235, 235, 235);
}

.userbox-title{
	color:rgb(235, 235, 235);
}

.userbox-icon{
	color:rgb(235, 235, 235);
}

/* .user-box-show{
	position:relative;
	.table{
		height:40px;
		width:70%;
	}
	.none{
		height:0px;
		display:none;
	}
} */

.user-box-content{
	background-color:rgb(34, 34, 34);
	color:rgb(34, 34, 34);
	border:3px solid white;
	position:absolute;
	margin-top:10px;
}

.userbox-username,
.userbox-capital,
.userbox-status{
	padding:10px;
	color:white;
	margin:0px;
	border-bottom:1px solid rgb(235, 235, 235);
	text-align:center;
}

/* .userbox-capital{
	padding:4%;
	color:white;
	margin:0px;
}

.userbox-status{
	padding:4%;
	//font-size:14px;
	color:white;
	margin:0px;
} */

.adjust-logout{
	padding:10px;
	text-align:center;
}

.logout-button{
	padding:5px;
	border-radius:5px;
	background:none;
	color:rgb(235, 235, 235);
	font-weight:bold;
}

//Landing

.landing-login-box{
	background-color:rgb(34, 34, 34);
	border:3px solid white;
}

.login-header{
	text-align:center;
	margin:0px;
	padding-top:10px;
	color:rgb(235, 235, 235);
	font-size:35px;
}

.email-signup-box{
	display:inline-block;
	text-align:center;
	padding-top:30px;
	padding-bottom:10px;
	padding-left:25%;
}

.email-signup{
	font-size:20px;
	font-weight:bold;
	border-radius:5px;
	background:none;
	background-color:rgb(235, 235, 235);
}

.user-login-link-box{
	display:inline-block;
	text-align:center;
	padding-top:30px;
	padding-bottom:10px;
	float:right;
	padding-right:25%;
}

.user-login-link{
	font-size:20px;
	font-weight:bold;
	border-radius:5px;
	background:none;
	background-color:rgb(235, 235, 235);
	color:rgb(34, 34, 34);
}

//Login-Page

body{
	background-color:rgb(34, 34, 34);
	height:700px;
}

.login-page{
	padding-top:200px;
}

.login-title{
	//width:70%;
	//margin-left:15%;
	color:rgb(235, 235, 235);
	text-align:center;
	margin:0px;
	padding-bottom:5px;
	/* background-image: linear-gradient(
		to right,
		rgb(25, 25, 25),
		rgb(35, 15, 15),
		rgb(55, 5, 5),
		rgb(105, 0, 0),
		rgb(150, 0, 0)
	); */
}

.login-page-form{
	@include outer-container(100%);
	width:70%;
	margin-top:200px;
	border:5px solid white;
	margin:0px;
	margin-left:15%;

}

.login-username{
	display:block;
	text-align:center;
	margin-left:38%;
	margin-top:20px;
}

.login-password{
	display:block;
	text-align:center;
	margin-left:38%;
	margin-top:20px;
}

.login-button{
	display:block;
	text-align:center;
	margin-top:20px;
	margin-left:43%;
	margin-bottom:20px;
	font-weight:bold;
	padding:10px;
	border-radius:5px;
	background-color:rgb(235, 235, 235);
	font-size:16px;
}

//Portfolio

.portfolio-page{
	background-color:rgb(34, 34, 34);
	height:auto;
	padding-bottom:50px;
}

.portfolio{
	color:rgb(235, 235, 235);
	margin:0px;
	padding-top:30px;
	padding-left:4%;
	display:inline-block;
}

.outer-stock-holdings{
	@include outer-container(100%);
	width:92%;
	background-color:rgb(235, 235, 235);
	margin-top:20px;
	border-radius:5px;
	border:3px solid white;
}

.stock-holdings{
	@include outer-container(100%);
	width:92%;
}

.current-holdings-icon{
	display:inline-block;
	//padding-left:1%;
}

.current-stock-holdings{
	display:inline-block;
	margin:0px;
	padding-left:.5%;
	padding-top:20px;
	color:rgb(34, 34, 34);
}

.stock-holdings-list{
	@include span-columns(12);
	font-size:20px;
	font-weight:bold;
	padding-top:20px;
	margin:0px;
}

.p-symbol{
	@include span-columns(2);
	text-align:left;
	padding:5px;
}

.p-quantity{
	@include span-columns(2);
	padding:5px;
}

.p-value{
	@include span-columns(2);
	padding:5px;
}

.p-plus-minus{
	@include span-columns(3);
	padding:5px;
}

.p-profit-loss{
	@include span-columns(3);
	padding:5px;
}

.stock-holdings-list-down{
	@include span-columns(12);
	padding-top:20px;
	padding-bottom:20px;
}

.p-symbol-column{
	@include span-columns(2);
	padding:5px;
}

.p-quantity-column{
	@include span-columns(2);
	text-align:center;
	padding:5px;
}

.p-value-column{
	@include span-columns(2);
	text-align:center;
	padding:5px;
}

.p-plus-minus-column{
	@include span-columns(3);
	text-align:center;
	padding:5px;
}

.p-profit-loss-column{
	@include span-columns(3);
	text-align:center;
	padding:5px;
}

.outer-user-portfolio{
	@include outer-container(100%);
	width:92%;
	background-color:rgb(235, 235, 235);
	border-radius:5px;
	border:3px solid white;
	margin-top:20px;
}

.user-portfolio{
	@include outer-container(100%);
	width:92%;

}

.user-port-i{
	display:inline-block;
	//padding-left:1%;
}

.username-portfolio-title{
	color:rgb(34, 34, 34);
	padding-left:.5%;
	padding-top:20px;
	margin:0px;
	display:inline-block;
}

.username-portfolio{
	list-style:none;
	margin:0px;
	font-size:20px;
	font-weight:bold;
	padding-left:0px;
}

.user-capital{
	padding-top:20px
}

.user-worth{
	padding-top:20px;
}

.user-deposits{
	padding-top:20px;
	padding-bottom:20px;
}



//Dashboard

//Dash Recent Games

.dashboard-page{
	height:auto;
	background-color:rgb(34, 34, 34);
	padding-bottom:50px;
}

.dashboard-title{
	color:rgb(235, 235, 235);
	margin-top:0px;
	padding-top:10px;
	padding-left:4%;
}

.outer-recent-games{
	@include outer-container(100%);
	width:92%;
	border:3px solid white;
	border-radius:5px;
	background-color:rgb(235, 235, 235);
}

.dashboard-recent-games{
  @include outer-container(100%);
	width:92%;
	/* border:3px solid rgb(235, 195, 16);
	border-radius:5px;
	background-color:white; */
}

.d-recent-games-icon{
	display:inline-block;
	//padding-left:4%;
}

.d-recent-games{
	display:inline-block;
	color:rgb(25, 25, 25);
	text-align:left;
	padding-left:1%;
}

.d-recent-games-list{
	@include span-columns(12);
  color:rgb(34, 34, 34);
	padding:5px;
	//padding-left:4%;
	font-size:20px;
}

.d-date{
	@include span-columns(2);
	font-weight:bold;
	color:rgb(34, 34, 34);
	text-align:left;
}

.d-home{
	@include span-columns(4);
	font-weight:bold;
	color:rgb(34, 34, 34);
	text-align:left;
}

.d-away{
	@include span-columns(4);
	font-weight:bold;
	color:rgb(34, 34, 34);
	text-align:left;
}

.d-score,{
	@include span-columns(2);
	text-align:center;
	font-weight:bold;
	color:rgb(34, 34, 34);
}

.d-recent-games-data{
	@include span-columns(12);
	padding:5px;
	//padding-left:4%;
	padding-top:10px;
}

.d-date-column{
	@include span-columns(2);
	text-align:left;
}

.d-home-column{
	@include span-columns(4);
	text-align:left;
}

.d-away-column{
	@include span-columns(4);
	text-align:left;
}

.d-score-column{
	@include span-columns(2);
	text-align:center;
}

//Dash Top Stocks

.outer-top-stocks{
	@include outer-container(100%);
	width:92%;
	border:3px solid white;
	border-radius:5px;
	background-color:rgb(235, 235, 235);
	margin-top:20px;
	padding-bottom:10px;
}

.dashboard-top-stocks{
	@include outer-container(100%);
	width:92%;

}

.dashboard-top-stocks td{
	//border-right: 2px solid black;
}

.dashboard-top-stocks tr{
	//background-color:black;
}

.dashboard-top-stocks tr:nth-child(odd){
	background:white;
}

.dashboard-top-stocks tr:nth-child(even){
	background:rgb(225, 225, 225);
}

.d-top-stocks-icon{
	display:inline-block;
	//padding-left:4%;
}

.d-top-stocks{
	display:inline-block;
	color:rgb(34, 34, 34);
	text-align:left;
	padding-left:.5%;
}

.d-top-stocks-list{
	@include span-columns(12);
  color:rgb(34, 34, 34);
	padding:5px;
	//padding-left:4%;
	font-size:20px;
}

.d-symbol{
	@include span-columns(2);
	font-weight:bold;
	color:rgb(34, 34, 34);
	text-align:left;
}

.d-name{
	@include span-columns(4);
	font-weight:bold;
	color:rgb(34, 34, 34);
	text-align:left;
}

.d-value{
	@include span-columns(3);
	font-weight:bold;
	color:rgb(34, 34, 34);
	text-align:center;
}

.d-league{
	@include span-columns(3);
	font-weight:bold;
	color:rgb(34, 34, 34);
	text-align:left;
}

.d-top-stocks-data{
	@include span-columns(12);
	padding:5px;
	//padding-left:4%;
	padding-top:10px;
}

.d-symbol-column{
	@include span-columns(2);
	text-align:left;
}

.d-name-column{
	@include span-columns(4);
	text-align:left;
		a{
			color:inherit;
			text-decoration:none;
		}
}

.d-name-column:hover{
	font-weight:bold;
}

.d-value-column{
	@include span-columns(3);
	text-align:center;
	color:rgb(0, 150, 0);
	font-weight:bold;
}

.d-league-column{
	@include span-columns(3);
	text-align:left;
}

//Dash Trending

.both-trending{
	@include outer-container(100%);
	width:92%;
	margin-top:20px;
	background-color:rgb(235, 235, 235);
	border-radius:5px;
	border:3px solid white;
}

.dashboard-trending-up{

}

.dashboard-trending-up td{
	//border-right: 2px solid black;
}

.dashboard-trending-up tr{
	//background-color:black;
}

.dashboard-trending-up tr:nth-child(odd){
	background:white;
}

.dashboard-trending-up tr:nth-child(even){
	background:rgb(225, 225, 225);
}

.dashboard-trending-teams{
	color:rgb(34, 34, 34);
	text-align:center;
}

.dashboard-trending-up-title{
	display:inline-block;
	//width:100%;
	color:rgb(34, 34, 34);
}

.trending-up-icon{
	display:inline-block;
	color:green;
	padding-left:1%;
}

.dashboard-trending-up{
	@include outer-container(100%);
	width:92%;
}

.trending-up{
	@include span-columns(12);
	//padding:5px;
	font-size:20px;
	font-weight:bold;
}

.tud-symbol{
	@include span-columns(2);
	text-align:left;
}

.tud-name{
	@include span-columns(6);
	text-align:left;
}

.tud-rank-jump{
	@include span-columns(2);
	text-align:center;
}

.tud-stock-jump{
	@include span-columns(2);
	text-align:center;
}

.trending-up-teams{
	@include span-columns(12);
	padding:5px;
	//padding-left:4%;
	padding-top:10px;
}

.tud-symbol-column{
	@include span-columns(2);
	text-align:left;
}

.tud-name-column{
	@include span-columns(6);
	text-align:left;
}

.tud-rank-jump-column{
	@include span-columns(2);
	text-align:center;
	color:green;
	font-weight:bold;
}

.tud-stock-jump-column{
	@include span-columns(2);
	text-align:center;
	background-color:green;
	border-radius:10px;
	color:white;
	font-weight:bold;
}

.dashboard-trending-down-title{
	display:inline-block;
	color:rgb(34, 34, 34);
}

.trending-down-icon{
	display:inline-block;
	color:red;
	padding-left:1%;
}

.dashboard-trending-down{
  @include outer-container(100%);
	width:92%;
	padding-bottom:10px;
}

.dashboard-trending-down td{
	//border-right: 2px solid black;
}

.dashboard-trending-down tr{
	//background-color:black;
}

.dashboard-trending-down tr:nth-child(odd){
	background:white;
}

.dashboard-trending-down tr:nth-child(even){
	background:rgb(225, 225, 225);
}


.trending-down{
  @include span-columns(12);
	color:rgb(34, 34, 34);
	//padding:5px;
	font-size:20px;
	font-weight:bold;
}

.tdd-symbol{
	@include span-columns(2);
	text-align:left;
}

.tdd-name{
	@include span-columns(6);
	text-align:left;
}

.tdd-rank-drop{
	@include span-columns(2);
	text-align:center;
}

.tdd-stock-drop{
	@include span-columns(2);
	text-align:center;
}

.trending-down-teams{
	@include span-columns(12);
	padding:5px;
}

.tdd-symbol-column{
	@include span-columns(2);
	text-align:left;
}

.tdd-name-column{
	@include span-columns(6);
	text-align:left;
}

.tdd-rank-drop-column{
	@include span-columns(2);
	text-align:center;
	color:red;
	font-weight:bold;
}

.tdd-stock-drop-column{
	@include span-columns(2);
	text-align:center;
	color:white;
	background-color:red;
	border-radius:10px;
	font-weight:bold;
}

//Top Stocks

.top-stocks-page{
  height:auto;
  background-color:rgb(34, 34, 34);
	padding-bottom:50px;
}



.research-top-stocks{
  //display:inline-block;
	color:rgb(235, 235, 235);
  margin-top:0px;
	padding-top:30px;
	padding-left:4%;
}

.top-stocks-header{
	@include outer-container(100%);
	width:92%;
	background-color:rgb(235, 235, 235);
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.top-stocks-icon{
	padding-left:4%;
}

.top-stocks-title{
  display:inline-block;
  color:rgb(34, 34, 34);
	padding-left:.5%;
}

.number-of-stocks{
  display:inline-block;
  float:right;
  color:rgb(34, 34, 34);
	padding-right:4%;
	padding-top:25px;
	vertical-align:bottom;
	font-weight:bold;
}

.real-stock-table{

}

.stock-table{
	@include outer-container(100%);
	width:92%;
	border-collapse:collapse;
	//border:2px solid black;
	border-radius:10px;
}

.stock-table td{
	//border-right: 2px solid black;
}

.stock-table tr{
	//background-color:black;
}

.stock-table tr:nth-child(odd){
	background:white;
}

.stock-table tr:nth-child(even){
	background:rgb(225, 225, 225);
}

.top-stocks-options{
	padding:5px;
	font-size:20px;
	@include span-columns(12);
	border-bottom:2px solid rgb(190, 190 , 190);
}

.top-stocks-options th{
	color:rgb(34, 34, 34);
}

.ts-symbol{
	@include span-columns(2);
	//text-decoration:underline;
	text-align:left;
	padding:5px;
}
.ts-name{
	@include span-columns(4);
	//text-decoration:underline;
	text-align:left;
	padding:5px;
}
.ts-value{
	@include span-columns(3);
	//text-decoration:underline;
	padding:5px;
}
/* .ts-streak{
	@include span-columns(2);
	text-decoration:underline;
	padding:5px;
} */
.ts-league{
	@include span-columns(3);
	//text-decoration:underline;
	text-align:left;
	padding:5px;
}

.all-top-stocks{
	@include span-columns(12);
}

.symbol-column{
	@include span-columns(2);
	padding:7px;
	font-size:18px;
}

.name-column{
	@include span-columns(4);
	padding:7px;
	font-size:18px;
		a{
			text-decoration: none;
			color:inherit;
		}
}

.name-column:hover{
	font-weight:bold;
	color:rgb(34, 34, 34);
}

.league-column{
	@include span-columns(3);
	padding:7px;
	font-size:18px;
}

.value-column{
	@include span-columns(3);
	text-align:center;
	padding:7px;
	font-size:18px;
	font-weight:bold;
	color:rgb(0, 180, 0);
	//border-bottom:1px solid white;
}
/* .streak-column{
	@include span-columns(2);
	text-align:center;
	padding:7px;
	font-size:18px;
}
 */
//Stocks

.team-stocks-page{
	height:auto;
	background-color:rgb(34, 34, 34);
	padding-bottom:50px;
}

.stock-header-title{
	margin:0px;
	color:rgb(235, 235, 235);
	padding-left:4%;
	padding-top:30px;
	padding-bottom:20px;
}

.stock-header{
	@include outer-container(100%);
	width:92%;
	margin-left:4%;
	padding-top:20px;
	background-color:rgb(235, 235, 235);
	border-radius:5px;
	border:3px solid white;
}

.stock-name{
	color:rgb(34, 34, 34);
	text-align:center;
	padding-top:5px;
	margin:0px;
	padding-left:4%;
	padding-bottom:15px;
	border-top:1px solid rgb(34, 34, 34);
	border-bottom:1px solid rgb(34, 34, 34);
	background-color:rgb(250, 215, 32);
}

.stock-league{
	padding-top:20px;
	color:rgb(34, 34, 34);
	margin:0px;
	padding-left:4%;
}

.stock-symbol{
	color:rgb(34, 34, 34);
	margin-top:15px;
	padding-left:4%;
	display:inline-block;
}

.stock-value{
	padding-top:15px;
	color:rgb(34, 34, 34);
	margin:0px;
	display:inline-block;
	padding-left:4%;
}

.stock-recents{
	width:92%;
	background-color:rgb(235, 235, 235);
	@include outer-container(100%);
	border-radius: 5px;
	border:3px solid white;
	margin-top:30px;
}

.recent-stock-matches{
	@include outer-container(100%);
	width:92%;
}

.s-recent-games-icon{
	display:inline-block;
}

.s-recent-matches{
	display:inline-block;
	padding-left:1%;
}

.recent-match-list{
	@include span-columns(12);
}

.t-date{
	@include span-columns(2);
	font-size:20px;
	text-align:left;
	padding:5px;
}

.t-home{
	@include span-columns(4);
	font-size:20px;
	text-align:left;
	padding:5px;
}

.t-away{
	@include span-columns(4);
	font-size:20px;
	text-align:left;
	padding:5px;
}

.t-score{
	@include span-columns(2);
	font-size:20px;
	padding:5px;
}

.recent-match-info{
	@include span-columns(12);
	padding:5px;
}

.t-date-column{
	@include span-columns(2);
	text-align:left;
}

.t-home-column{
	@include span-columns(4);
	text-align:left;
}

.t-away-column{
	@include span-columns(4);
	text-align:left;
}

.t-score-column{
	@include span-columns(2);
	text-align:center;
}

/* .performance-title{
	color:white;
	padding-left:4%;
	padding-top:30px;
	margin:0px;
	padding-bottom:15px;
} */

.buy-sell-stocks{
	background-color:rgb(235, 235, 235);
	//background-color:rgba(235, 195, 16, .9);
	@include outer-container(100%);
	width:92%;
	border-radius:5px;
	border:3px solid white;
	margin-top:30px;
}

.trade-stock-header{

}

.trade-stock{
	display:inline-block;
	padding-left:4%;
}

.stock-price{
	display:inline-block;
	float:right;
	padding-right:4%;
}

.trade-stock-action{
	padding-left:4%;
	margin-top:10px;
}

.buy-sell-action{
	display:inline-block;
	/* font-weight:bold;
	font-size:14px; */
	border-radius:5px;
	background-color:white;
	//color:white;
	border:1px solid black;
}

.buy-action{
	background-color:rgb(0, 175, 0);
	color:white;
	border-radius:5px;
	padding:3px;
}

.sell-action{
	background-color:rgb(200, 0, 0);
	color:white;
	border-radius:5px;
	padding:3px;
}

.stock-input{
	display:inline-block;
	font-size:14px;
	border:1px solid rgb(34, 34, 34);
	text-align:center;
}

.submit-action{
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	border-radius:5px;
	background-color:white;
	color:rgb(34, 34, 34);
}

.trade-stock-bottom{
	padding-top:15px;
}

.total-stock-amount{
	padding-left:4%;
}

.shares-you-own{
	padding-left:4%;
}

//Help

.help-page{
	@include outer-container(100%);
	background-color:rgb(34, 34, 34);
	padding-bottom:50px;
}

.how-to-play{
	@include outer-container(100%);
	width:92%;
	color:rgb(235, 235, 235);
}

.how-to-play-title{
	margin:0px;
	text-align:center;
	padding-top:30px;
	color:rgb(250, 215, 32);
}

.scoring-breakdown{
	@include outer-container(100%);
	width:92%;
	color:rgb(235, 235, 235);
}

.scoring-breakdown-title{
	margin:0px;
	text-align:center;
	padding-top:30px;
	color:rgb(250, 215, 32);
}

.navigation-instructions{
	@include outer-container(100%);
	width:92%;
	color:rgb(235, 235, 235);
}

.nav-example{
	margin:0px;
	text-align:center;
	padding-top:30px;
	color:rgb(250, 215, 32);
}

.help-to-dashboard{
	margin:0px;
	font-size:28px;
	padding-top:30px;
	text-align:center;
		a{
			color:rgb(250, 215, 32);
		}
}

//Desktop

//Header

.header{
	height:auto;
	margin-top:0px;

@include media($desktop) {
	min-width: 902;
	max-width: 1280px;
	}
}
