<div class="dashboard-page">

  <h1 class="dashboard-title">Dashboard</h1>

  <div class="dashboard-recent-games">
    <h2 class="d-recent-games">Recent Games</h2>
    <ul class="d-recent-games-list">
      <li class="d-date">Date</li>
      <li class="d-home">Home</li>
      <li class="d-away">Away</li>
      <li class="d-score">Score</li>
    </ul>
  </div>

  <div class="dashboard-top-stocks">
    <h2 class="d-top-stocks">Top Stocks</h2>
    <ul class="d-top-stocks-list">
      <li class="d-symbol">Sym</li>
      <li class="d-name">Name</li>
      <li class="d-value">Value</li>
      <li class="d-performance">Performance</li>
    </ul>
  </div>

  <div class="dashboard-trending">
    <h2 class="dashboard-trending-teams">Trending Teams</h2>
    <h3 class="dashboard-trending-up">Up</h3>
      <ul class="trending-up">
        <li class="d-symbol">Sym</li>
        <li class="d-name">Name</li>
        <li class="d-rank-jump">Rank Jump</li>
        <li class="d-stock-jump">Stock Jump</li>
      </ul>
    <h3 class="dashboard-trending-down">Down</h3>
      <ul class="trending-down">
        <li class="d-symbol">Sym</li>
        <li class="d-name">Name</li>
        <li class="d-rank-drop">Rank Drop</li>
        <li class="d-stock-drop">Stock Drop</li>
      </ul>
  </div>


</div>


{{outlet}}
