{{game-header/dashboard-page model=model}}

{{!-- <div class="dashboard-page">

  <h1 class="dashboard-title">Dashboard</h1>

  <h2 class="d-recent-games">Recent Games</h2>

  <table class="dashboard-recent-games">
    <tr class="d-recent-games-list">
      <td class="d-date">Date</td>
      <td class="d-home">Home</td>
      <td class="d-away">Away</td>
      <td class="d-score">Score</td>
    </tr>
  </table>

  <h2 class="d-top-stocks">Top Stocks</h2>

  <table class="dashboard-top-stocks">
    <tr class="d-top-stocks-list">
      <td class="d-symbol">Sym</td>
      <td class="d-name">Name</td>
      <td class="d-value">Value</td>
      <td class="d-streak">Streak</td>
    </tr>
  </table>

  <h2 class="dashboard-trending-teams">Trending Teams</h2>

  <h3 class="dashboard-trending-up-title">Up</h3>

    <table class="dashboard-trending-up">
      <tr class="trending-up">
        <td class="tud-symbol">Sym</td>
        <td class="tud-name">Name</td>
        <td class="tud-rank-jump">Rank Jump</td>
        <td class="tud-stock-jump">Stock Jump</td>
      </tr>
    </table>

  <h3 class="dashboard-trending-down-title">Down</h3>

    <table class="dashboard-trending-down">
      <tr class="trending-down">
        <td class="tdd-symbol">Sym</td>
        <td class="tdd-name">Name</td>
        <td class="tdd-rank-drop">Rank Drop</td>
        <td class="tdd-stock-drop">Stock Drop</td>
      </tr>
    </table>

</div>
 --}}

{{outlet}}
