{{game-header/help-page model=model}}

{{!-- <div class="help-page">

  <div class="how-to-play">
    <h1 class="how-to-play-title">How to Play</h1>

    <div class=play-instructions>
      <h2 class="play-overview">Overview</h2>
      <p class="instructions-to-play">
    Players will be given $100,000 to invest in various teams as they wish.
    Use this money to invest in teams you think will build the strongest possible
    portfolio. Select at least 5 teams for your portfolio from 3 different leagues.
    The number associated with each team is its stock price. You can buy as many
    shares of a team, with the money you have, as you wantUse the “portfolio” page
    to manage all of your teams. In order to find teams you wish to invest in simply
    go to the “Research" pages.
      </p>
    </div>

    <div class=buy-instructions>
      <h2 class="buy-overview">How to Buy</h2>
      <p class="instructions-to-buy">
    Once you’ve found a team you want to
    buy click on its name and enter the amount of shares you want in the upper
    right hand box where it says “quantity.” Then click on the “Action” box and
    select “buy”. Finally, hit submit to enter your transaction.
      </p>
    </div>

    <div class=sell-instructions>
      <h2 class="sell-overview">How to Sell</h2>
      <p class="instructions-to-sell">
    In order to sell
    a team you own follow the same process and select “sell” in the action box
    once you’ve entered the desired number of shares you wish to sell.
      </p>
    </div>

    <div class=go-play-instructions>
      <h2 class="go-play-overview">Get Started</h2>
      <p class="instructions-to-go-play">
    Now you know how to play! View the standings to see where you match up
    with other players. Go watch soccer and root for the teams you’ve
    invested in!
      </p>
    </div>
  </div>



  <div class="scoring breakdown">
    <h1 class="scoring-breakdown-title">Scoring Breakdown</h1>

    <div class=scoring-instructions>
      <h2 class="step-by-step">Step by Step</h2>
      <p class="step-by-step-instructions">
        1) Goals = $1 + (.90 - time the goal was scored/100) //MOD first half + .75 second half + .25
2)    (Team 1 – Team 2) Take the difference of the two goal scores to get each teams total
3) Add or subtract points for winning, losing or tying at home or away
a) Home win = (10% + $0.25) Home loss = (-25% -$1.00) Home tie = ($0) Away win = (25% + $1.00) Away loss = (-10%) Away tie = ($0.25)
4) Yellow Cards = -$0.10 Red Cards = -$0.50 Fouls = -$0.01 Corner Kicks = $0.03
5) Shots off target = -$0.01 Shots on target = $0.05
      </p>
    </div>

    <div class=exapmle-instructions>
      <h2 class="game-example">Example</h2>
      <p class="game-scoring">
        Arsenal v. Aston Villa
Final Score (1-3)
1.     [$1 + (90-22)] + [$1 + (90-61)] + [$1 + (90-85)] = $4.02
2.     $4.02 - $1.84 = $2.18
3.     $2.18* .25 = $0.55, $2.18 + $0.55 +$1.00 = $3.73
4.     [(-$0.10 * 5) + (-$0.50 * 0) + (-$0.01 * 19) + ($0.03 * 3)] = -$0.60, $3.73 - $0.60 = $3.13
5.     [(-$0.01 * 5) + ($0.05 * 5)] = $0.20, $3.13 + $0.20 = $3.33
      </p>
    </div>
  </div>

  <div class=navigation-instructions>
      <h1 class="nav-example">Navigation</h1>

      <p class="game-navigation">
        Dashboard- Check out the latest results from matches around the globe and use the calendar to look up future or past matches.
Portfolio- Manage your current teams/stock holdings
Matches- View all the upcoming and past matches from around the world
Research-
Search- Search any team that interests you, from within our extensive catalog, as a potential investment using our “search” feature.
Top Stocks- Look up the highest earning stocks in various leagues or the world in general.
Recent Trades- Evaluate your trading history from the past month.
Favorites- Look at the most popular teams being bought and sold by other players.
Alerts- Set up alerts to let you know the match results of teams in your portfolio and alarm you if a stock falls beneath your set threshold.
Standings- See how your portfolio compares to other players from around the world.
      </p>
  </div>

</div> --}}

{{outlet}}
