<div class="portfolio-page">

  <h1 class="portfolio">Portfolio</h1>

  <div class="direction-bar">
    <h3 class="directions">Home -</h3>
    <h3 class="directions"> Portfolio</h3>
  </div>

  <div class="stock-holdings">
    <h2 class="current-stock-holdings">Current Stock Holdings</h2>
    <ul class="stock-holdings-list">
      <li class="p-symbol">Sym</li>
      <li class="p-quantity">Qty</li>
      <li class="p-value">Value</li>
      <li class="p-plus-minus">+/-</li>
      <li class="p-profit-loss">P/L</li>
      <li class="p-to-date">To date</li>
    </ul>
  </div>

  <div class="user-portfolio">
    <h2 class="username-portfolio-title">Username Portfolio</h2>
    <ul class="username-portfolio">
      <li class="user-capital">Capital</li>
      <li class="user-worth">Worth</li>
      <li class="user-deposits">Deposits</li>
    </ul>
  </div>

</div>

{{outlet}}
