<div class="standings-page">

  <div class="standings-header">
    <h1 class="standings-title">Standings</h1>
    <ul class="standings-nav">
      <li class="s-overall">Overall</li>
      <li class="s-country">Country</li>
      <li class="s-groups">Groups</li>
    </ul>
  </div>

  <ul class="standings-options">
    <li class="ts-rank">Rank</li>
    <li class="ts-image">
      <img src="#">
    </li>
    <li class="ts-username">Username</li>
    <li class="ts-value">Value</li>
    <li class="ts-country">Country</li>
  </ul>

</div>

{{outlet}}
