<div class="top-stocks-page">

  <h1 class="research-top-stocks">Research</h1>

  <div class="top-stocks-header">
    <h2 class="top-stocks-title">Top Stocks</h2>
    <span class="number-of-stocks">1-10
      <select>
        <optgroup>
          <option>10</option>
          <option>25</option>
          <option>50</option>
          <option>All</option>
        </optgroup>
      </select>
    </span>
  </div>

  <table class="stock-table">
    <tr class="top-stocks-options">
      <th class="ts-symbol">Sym</th>
      <th class="ts-name">Name</th>
      <th class="ts-value">Value</th>
      <th class="ts-streak">Streak</th>
      <th class="ts-upcoming">Upcoming</th>
    </tr>

    <tr class="stock-one">
      <td class="symbol-column">BBAM</td>
      <td class="name-column">Bayern Munich</td>
      <td class="value-column">$237.02</td>
      <td class="streak-column">+14</td>
      <td class="upcoming-column">@Shalke 04</td>
    </tr>

    <tr class="stock-two">
      <td class="symbol-column">LBAR</td>
      <td class="name-column">Barcelona</td>
      <td class="value-column">$230.59</td>
      <td class="streak-column">+3</td>
      <td class="upcoming-column">Malaga</td>
    </tr>

    <tr class="stock-three">
      <td class="symbol-column">EMNC</td>
      <td class="name-column">Manchester City</td>
      <td class="value-column">$225.41</td>
      <td class="streak-column">+5</td>
      <td class="upcoming-column">Sunderland</td>
    </tr>

    <tr class="stock-four">
      <td class="symbol-column">LRM</td>
      <td class="name-column">Real Madrid</td>
      <td class="value-column">$223.11</td>
      <td class="streak-column">+3</td>
      <td class="upcoming-column">Valencia</td>
    </tr>

    <tr class="stock-five">
      <td class="symbol-column">SJUV</td>
      <td class="name-column">Juventus</td>
      <td class="value-column">$212.20</td>
      <td class="streak-column">+2</td>
      <td class="upcoming-column">@Napoli</td>
    </tr>

    <tr class="stock-six">
      <td class="symbol-column">ELVP</td>
      <td class="name-column">Liverpool</td>
      <td class="value-column">$210.26</td>
      <td class="streak-column">-1</td>
      <td class="upcoming-column">Manchester United</td>
    </tr>

    <tr class="stock-seven">
      <td class="symbol-column">LAM</td>
      <td class="name-column">Atletico Madrid</td>
      <td class="value-column">$194.48</td>
      <td class="streak-column">-1</td>
      <td class="upcoming-column">Atletic Bilboa</td>
    </tr>

    <tr class="stock-eight">
      <td class="symbol-column">SROM</td>
      <td class="name-column">Roma</td>
      <td class="value-column">$191.22</td>
      <td class="streak-column">+7</td>
      <td class="upcoming-column">@Fiorentina</td>
    </tr>

    <tr class="stock-nine">
      <td class="symbol-column">ECHL</td>
      <td class="name-column">Chelsea</td>
      <td class="value-column">$186.63</td>
      <td class="streak-column">+11</td>
      <td class="upcoming-column">Everton</td>
    </tr>

    <tr class="stock-ten">
      <td class="symbol-column">BBOD</td>
      <td class="name-column">Borussia Dortmund</td>
      <td class="value-column">$180.86</td>
      <td class="streak-column">-3</td>
      <td class="upcoming-column">@Wolfsburg</td>
    </tr>


  </table>

</div>

{{outlet}}
