<div class="top-stocks-page">

  <h1 class="research-top-stocks">Research</h1>

  <div class="top-stocks-header">
    <h2 class="top-stocks-title">Top Stocks</h2>
    <span class="number-of-stocks">1-10</span>
    <select>
      <optgroup>
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>All</option>
      </optgroup>
    </select>
  </div>

  <table>
    <tr class="top-stocks-options">
      <th class="ts-symbol">Sym</th>
      <th class="ts-name">Name</th>
      <th class="ts-value">Value</th>
      <th class="ts-streak">Streak</th>
      <th class="ts-upcoming">Upcoming</th>
    </tr>

    <tr>
      <td>BBAM</td>
      <td>Bayern Muncih</td>
      <td>$237.02</td>
      <td>+14</td>
      <td>@Shalke 04</td>
    </tr>

    <tr>
      <td>LBAR</td>
      <td>Barcelona</td>
      <td>$230.59</td>
      <td>+3</td>
      <td>Malaga</td>
    </tr>

    <tr>
      <td>EMNC</td>
      <td>Manchester City</td>
      <td>$225.41</td>
      <td>+5</td>
      <td>Sunderland</td>
    </tr>

    <tr>
      <td>LRM</td>
      <td>Real Madrid</td>
      <td>$223.11</td>
      <td>+3</td>
      <td>Valencia</td>
    </tr>

    <tr>
      <td>SJUV</td>
      <td>Juventus</td>
      <td>$212.20</td>
      <td>+2</td>
      <td>@Napoli</td>
    </tr>

    <tr>
      <td>ELVP</td>
      <td>Liverpool</td>
      <td>$210.26</td>
      <td>-1</td>
      <td>Manchester United</td>
    </tr>

    <tr>
      <td>LAM</td>
      <td>Atletico Madrid</td>
      <td>$194.48</td>
      <td>-1</td>
      <td>Atletic Bilboa</td>
    </tr>

    <tr>
      <td>SROM</td>
      <td>Roma</td>
      <td>$191.22</td>
      <td>+7</td>
      <td>@Fiorentina</td>
    </tr>

    <tr>
      <td>ECHL</td>
      <td>Chelsea</td>
      <td>$186.63</td>
      <td>+11</td>
      <td>Everton</td>
    </tr>

    <tr>
      <td>BBOD</td>
      <td>Borussia Dortmund</td>
      <td>$180.86</td>
      <td>-3</td>
      <td>@Wolfsburg</td>
    </tr>


  </table>

</div>

{{outlet}}
