<div class="header">
  <div class="header-box">
    <h1 class=header-title>Ticker-Tape Stadium</h1>
  </div>

  <div class="nav-box">
    <div class="nav-left">
      <button class="nav-button"> + </button>
    </div>

    <div class="user-id">
      <img src="#">
      <button class="username">Username</button>
      <i class="#"></i>
    </div>
  </div>
</div>

{{outlet}}
