<div class="header">
  <div class="header-box">

      <div class="nav-left">
        <button class="nav-button"> + </button>
      </div>

      <h1 class=header-title>Ticker-Tape Stadium</h1>

      <div class="user-id">
        <img class="user-picture" src="./../styles/images/sloth.jpg">
        <button class="username">abarba222</button>
        <i class="#"></i>
      </div>

  </div>
</div>

{{outlet}}
